@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #35363a;
}

/* BACKGROUND */

#banner {
  background-image: url('./assets/images/banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* HEADER */

#logo {
  padding: 30px 40px;
}

.logo {
  width: 150px;
}

/* BANNER */

#content {
  padding: 70px 150px 150px;
}

#content .content_text {
  max-width: 35%;
  color: #FFFFFF;
}

#title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
}

/* ICONS */

#icons {
  background-color: #EAECE5;
  padding: 70px 0;
}

.itens {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
}